@charset "UTF-8";
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    overflow-x: hidden;
    
}
body, html{
    width: 100vw;
    height: 100vh;  
}
header .banner .banner-content > p{
    text-align: justify;
    width: 90vw;
    margin: auto;
    
}
header .banner .banner-content > h1{
    text-align: left;
}
header .banner .banner-content > #button-1{
    margin: auto;
   margin-bottom: 10px;
}
main .section-1 .section-1conteudo > h2, p, img {
    display: inline;
    width: 90vw;
    font-size: 1rem;
    margin: auto;
    
    
}
